<!DOCTYPE html>
<html ng-app="aweiwithwords">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Wei With Words</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Lato|Montserrat|Lora' rel='stylesheet' type='text/css'>
  <script src="/js/app.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/app.min.css" media="screen" title="no title" charset="utf-8">
  <link rel='shortcut icon' href='/images/favicon.png' type='image/x-icon'/ >
</head>

<body ng-controller="PageController as Page">


  <section class="hero">
    <div class="row intro">
      <div class="small-centered medium-uncentered medium-12 large-7 columns">

        <div>
          <h1>Wei Liang Cheah</h1>
          <p class="pronounciation">[wey lee-AH-ng chee-YAH]</p>
          <p class="wordtype">
            abbrev. "Wei" [wey]<br>
            Noun, Web Developer
          </p>
          <div class="row">
            <div class="small-centered medium-uncentered small-12 medium-4 columns">
              <p>Definitions:</p>
            </div>
            <div class="small-centered medium-uncentered small-12 medium-8 columns">
              <ol>
                <li>A web developer currently looking for opportunities</li>
              </ol>
            </div>
          </div>
        </div>

      </div>
      <div class="small-centered medium-uncentered small-12 medium-12 large-5 columns">
        <div class="round-img" ng-class="Page.state"></div>
      </div>
    </div>
  </section>

  <main id="main">

    <div>
      <div class="row bigbuttons">
        <div class="small-centered medium-uncentered small-12 medium-6 columns">
          <div class="aboutme bigbutton" ng-class="Page.state==='aboutme' ? 'active': false">
            <div class="title text-center">
              About me
            </div>
            <div class="overlay" ng-class="Page.state==='aboutme' ? 'active': false"></div>
            <div class="content text-center">
              More details about me
            </div>
            <span ng-click="Page.changeState('aboutme')"></span>
          </div>
        </div>
        <div class="small-centered medium-uncentered small-12 medium-6 columns">
          <div class="skills bigbutton" ng-class="Page.state==='skills' ? 'active': false">
            <div class="title text-center">
              Skills
            </div>
            <div class="overlay" ng-class="Page.state==='skills' ? 'active': false"></div>
            <div class="content text-center">
              A list of some of the things I can do
            </div>
            <span ng-click="Page.changeState('skills')"></span>
          </div>
        </div>
        <div class="small-centered medium-uncentered small-12 medium-6 columns">
          <div class="portfolio bigbutton" ng-class="Page.state==='portfolio' ? 'active': false">
            <div class="title text-center">
              Portfolio
            </div>
            <div class="overlay" ng-class="Page.state==='portfolio' ? 'active': false"></div>
            <div class="content text-center">
              Take a look at the stuff I made
            </div>
            <span ng-click="Page.changeState('portfolio')"></span>
          </div>
        </div>
        <div class="small-centered medium-uncentered small-12 medium-6 columns">
          <div class="history bigbutton" ng-class="Page.state==='history' ? 'active': false">
            <div class="title text-center">
              History
            </div>
            <div class="overlay" ng-class="Page.state==='history' ? 'active': false"></div>
            <div class="content text-center">
              My life story
            </div>
            <span ng-click="Page.changeState('history')"></span>
          </div>
        </div>
      </div>
    </div>

    <div id="content">
    <div class="fade" ng-if="Page.state==='aboutme'" class="fade">
      <h2>About me</h2>
      <div class="row">
        <div class="small-12 medium-4 text-center columns">
          <img src="/images/face.jpg" alt="Picture of my face" class="responsive">
          <p class="subhead">Weithout Glasses, 2016</p>
        </div>
        <div class="small-12 medium-8 columns">
          <p class="hello">
            I'm Wei.
          </p>
          <p>
            I am a web developer currently looking for opportunities after honing my skills at General Assembly. I love solving puzzles, puns, and silly things. I love being challenged so I'm often taking on challenges- you'll often find me trying new things out, to see if it works, just to learn how things work.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-4 small-12 columns text-center right">
          <img src="/images/wei2.jpg" alt="Wei with a deer" class="responsive">
          <p class="subhead">A deer with a dear with no idea, 2015</p>
        </div>
        <div class="medium-8 small-12 columns">
          <p>
            After high school in Singapore, I moved permanently back to London and studied medicine at King College London and worked at a charity for a while. While I love working with and helping people, I’ve always wanted to design and make things, so I decided to gain the skills to make things I love and joined a web development boot-camp. I enjoyed it immensely, building things  and being able to express  different creative ideas, and am continuing my journey learning and improving the way I make things.
          </p>
          <p>
            I've always had a very wide set of interests- I used to play field hockey, swim and play ultimate frisbee, debate in inter-secondary-school debates, present my projects at national science fairs, be active in the creative writing scene in Singapore (writing poetry), I have a black belt in karate, and I even sung (badly) in a comedy band. I've always been interested in technology, and always been geeky- reading comics, Isaac Asimov sci-fi/fantasy novels and playing around on computers.
          </p>
          <p>
            I'm often super curious, and always willing to try new things. I try to be in a position where I'm a little out of my comfort zone, because I think that's the only way to grow, and I love solving puzzles and problems where I struggle to find the right answers.
          </p>
        </div>
      </div>
    </div>

    <div class="fade" ng-if="Page.state==='skills'">
      <h2>Skills</h2>
      <div class="row">
        <div class="small-12 medium-6 large-4 columns">
          <h4>Tech I feel good about</h4>
          <ul>
            <li>HTML5/CSS3</li>
            <li>JavaScript/jQuery</li>
            <li>MongoDB/Mongoose</li>
            <li>Node.js/Express.js</li>
            <li>Chrome Developer Tools</li>
            <li>Bootstrap, Foundation, Bourbon</li>
            <li>AngularJS</li>
            <li>SASS/SCSS</li>
            <li>Grunt</li>
            <li>Object Oriented Programming</li>
            <li>Responsive web design</li>
            <li>CRUD/RESTful structures</li>
            <li>Git and GitHub</li>
          </ul>
        </div>
        <div class="small-12 medium-6 large-4 columns">
          <h4>Tech I'm okay with</h4>
          <ul>
            <li>Ruby and Ruby on Rails</li>
            <li>SQL/PostgresQL</li>
            <li>Sinatra</li>
            <li>APIs and AJAX</li>
            <li>BCrypt, JSON Web Tokens</li>
            <li>Underscore.js</li>
            <li>Test Driven Development</li>
            <li>Mocha/Chai/RSpec</li>
          </ul>
        </div>
        <div class="small-12 medium-6 large-4 columns">
          <h4>Tech I've tried out</h4>
          <ul>
            <li>Heroku</li>
            <li>Amazon Web Services (S3)</li>
            <li>Google Maps</li>
            <li>Google Street View</li>
            <li>OAuth</li>
          </ul>
        </div>
        <div class="small-12 medium-6 large-4 columns">
          <h4>Other skills</h4>
          <ul>
            <li>Basic medical diagnosis and triage</li>
            <li>CPR and Advanced Life Support</li>
            <li>Conversational Mandarin</li>
            <li>Leading a platoon of soldiers</li>
            <li>Building shelter and traps in a jungle</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="fade" ng-if="Page.state==='portfolio'">
      <h2>Portfolio</h2>
      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/fightfed.png" alt="Fight Fed Front" class="responsive">
          <p class="subhead text-center small">Fight Federation</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Fight Federation</h3>
          <p>
            Fight Federation is a tournament management platform that allows people to find tournaments and join them, while also recording the results of the games, and recording the winners. The app is designed to cater to office tournaments where the game schedules may be fluid depending on other commitments, and handles the administrative aspects of running tournaments such as listing matches and calculating points.
          </p>
          <p>
            I used: Mongoose | Express.js | AngularJS | Node.js | Bourbon | SCSS | Grunt | AngularUI Router | Multer
          </p>
          <p>
            Take a look at it here: <a href="https://fightfederation.herokuapp.com/">https://fightfederation.herokuapp.com/</a>
          </p>
          <p>
            Or at the Github page here: <a href="https://github.com/weiliangc3/wdi-project-4">https://github.com/weiliangc3/wdi-project-4</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/wikiwars.png" alt="Wiki Wars Front" class="responsive">
          <p class="subhead text-center small">Wiki Wars</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Wiki Wars</h3>
          <p>
            Wiki wars is our take on the Wikipedia game where the challenge is to navigate from one Wikipedia article to another in the least clicks or the least amount of time, using entirely links within Wikipedia. The project was done as part of Electron's 23:00:01 Hackathon, a 23hour and one second hackathon. This project was super fun to do, especially with the team of Peter Le and Ryan Thomas Didier McWard.
          </p>
          <p>
            We used: Mongoose | Express.js | AngularJS | Node.js | MediaWiki’s API
          </p>
          <p>
            Take a look at it here: <a href="https://pwrwikiwars.herokuapp.com/">https://pwrwikiwars.herokuapp.com/</a>
          </p>
          <p>
            Or at the Github page here: <a href="https://github.com/weiliangc3/wikiwars">https://github.com/weiliangc3/wikiwars</a>
          </p>
        </div>
      </div>

      <div class="row">
        <h2>Portfolio</h2>
        <div class="medium-3 small-12 columns">
          <img src="/images/streetsmart.png" alt="Street Smart Front" class="responsive">
          <p class="subhead text-center small">Street Smart</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Street Smart</h3>
          <p>
            A game where using Google Street View, you must pinpoint your location on a Google Map. This game was made as part of a group project, and I developed the internal game logic and back-end and made strong contributions to the user experience and design elements.
          </p>
          <p>
            We used: Mongoose | Express.js | Node.js | Bootstrap | AJAX | Underscore.js | Google Maps | Google Street View
          </p>
          <p>
            Take a look at it here: <a href="https://streetsmartgame.herokuapp.com/">https://streetsmartgame.herokuapp.com/</a>
          </p>
          <p>
            Or at the Github page here: <a href="https://github.com/SebastienLouit/wdi-project-3">https://github.com/SebastienLouit/wdi-project-3</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/weiding.png" alt="WeiDings Front" class="responsive">
          <p class="subhead text-center small">WeiDings</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>WeiDings</h3>
          <p>
            A web-app for creating and managing wedding gift registries. The project focus was on streamlining the user experience and providing a mobile-friendly user interface. The user registration system relies on verification e-mails and no  e-mail service is attached to the project from Heroku yet.
          </p>
          <p>
            I used: Ruby | Ruby on Rails | Sinatra | PostgreSQL | Foundation | SCSS | Bcrypt | Parallax.js | CarrierWave | RMagick
          </p>
          <p>
            Take a look at it here: <a href="https://tranquil-gorge-77305.herokuapp.com/">https://tranquil-gorge-77305.herokuapp.com/</a>
          </p>
          <p>
            Or at the Github page here: <a href="https://github.com/weiliangc3/wdi-project-2">https://github.com/weiliangc3/wdi-project-2</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/blocks.png" alt="blocks that move Front" class="responsive">
          <p class="subhead text-center small">blocks that move</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>blocks that move</h3>
          <p>
            A light hearted fast-paced arcade style game. This was the first project I made after two  weeks of learning JavaScript. It doesn’t use any other code libraries other than jQuery, and I’m very proud at how positive and fun the game feels.
          </p>
          <p>
            I used: HTML | CSS | JavaScript | jQuery | Object Oriented Programming
          </p>
          <p>
            Take a look at it here: <a href="http://young-reaches-60410.herokuapp.com/">http://young-reaches-60410.herokuapp.com/</a>
          </p>
          <p>
            Or at the Github page here: <a href="https://github.com/weiliangc3/wdi-project-1">https://github.com/weiliangc3/wdi-project-1</a>
          </p>
        </div>
      </div>
    </div>

    <div class="fade" ng-if="Page.state==='history'">
      <h2>History</h2>
      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/ga.png" alt="General Assembly Logo" class="responsive">
          <p class="subhead text-center small">General Assembly</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Web Development Immersive at General Assembly</h3>
          <p class="small">
            March 2016 - June 2016
          </p>
          <p>
            Most recently I did a 12 week coding bootcamp, that has allowed me to make this website, and picked up a lot of the tech skills that I've listed on the other page. But of course, all this tech is just the start of the journey- there's always more to learn and do!
          </p>
          <p>
            Find out more here: <a href="https://generalassemb.ly/">General Assembly</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="right medium-3 small-12 columns">
          <img src="/images/intergen.png" alt="Intergen Logo" class="responsive">
          <p class="subhead text-center small">Intergen</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Development Intern at Intergen (From Generation to Generation)</h3>
          <p class="small">
            Jan 2015 - May 2015
          </p>
          <p>
            Before seriously embarking on learning how to code, I worked at a charity linking the elderly with schools to help provide support to schools while alleviating social isolation in the elderly. There, I generated statistics and analysis for marketing and management purposes as well as identifying resources and appropriate schools for expansion and development.
          </p>
          <p>
            As part of a small 4 man adminstration team, I performed a variety of general administrative tasks such as advertising work opportunities, documenting business practices, filing, and technical support. Intergen has since been subsumed under its parent charity- From Generation to Generation.
          </p>
          <p>
            Read more about Intergen here: <a href="http://fromgeneration2generation.org.uk/intergen/">Intergen</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/kcl.jpg" alt="Kings College London Logo" class="responsive">
          <p class="subhead text-center small">Kings College London</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>BSc (Hons) in Medical Science from Kings College London</h3>
          <p class="small">
            2008 - 2013
          </p>
          <p>
            I did most of an MBBS Medicine programme before leaving in the final year. I competed all core and specialty medical rotations of the programme.
          </p>
          <p>
            In the course, aside from the academic side, I did a lot of work within hospitals as a medical student, interviewing and interpreting patient information to present during hospital ward rounds and emergency shifts. I also participated in surgeries, did medical presentations, prepared medical papers and explained medical information to patients.
          </p>
          <p>
            I also played ultimate (the competitive form of Frisbee) while at KCL.
          </p>
          <p>
            Read more about medicine here: <a href="http://www.kcl.ac.uk/study/undergraduate/courses/medicine-mbbs.aspx">Kings College MBBS</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="right medium-3 small-12 columns">
          <img src="/images/soldier.jpg" alt="A Singapore Soldier" class="responsive">
          <p class="subhead text-center small">I don't have a picture of me as a soldier. But here is another Singaporean soldier</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Manpower Officer for the Singapore Armed Forces</h3>
          <p class="small">
            May 2007 - Feb 2008
          </p>
          <p>
            As part of living in Singapore for more than 5 years while under 18, I got drafted into the Singapore Army. There, I went through Officer Training School to learn how to command a platoon of troops and did things like climb hills and survive in a Thai jungle.
          </p>
          <p>
            After that I got posted to a manpower officer position at Basic Military Training Centre, where I did things like helping to organise events like graduation and intake parades, assigning training staff allocation, and doing other administrative things like being secretary to commander meetings
          </p>
          <p>
            I served the Singapore army as a statutory requirement of living in Singapore. Read more about National Service here: <a href="https://en.wikipedia.org/wiki/National_service_in_Singapore">Wikipedia link</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-12 columns">
          <img src="/images/sgh.png" alt="Singapore General Hospital Logo" class="responsive">
          <p class="subhead text-center small">Singapore General Hospital</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Research assistant at Singapore General Hospital</h3>
          <p class="small">
            Mar 2006 - Apr 2006
          </p>
          <p>
            I did a stint as a research assistant at Singapore General Hospital before joining the Army. There, I collected and compiled data for the radiology department, which was used in audits to review the effectiveness of various treatments and medical assessments
          </p>
          <p>
            Read more about Singapore General Hospital here: <a href="http://www.sgh.com.sg/Pages/default.aspx">Singapore General Hospital</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="right medium-3 small-12 columns">
          <img src="/images/youngme.jpg" alt="Younger Me" class="responsive">
          <p class="subhead text-center small">Me in a bus with my best mates</p>
        </div>
        <div class="medium-9 small-12 columns">
          <h3>Life Before Work</h3>
          <p class="small">
            1987 - 2005
          </p>
          <p>
            Before all that more important stuff, I did a whole lot of growing up kind of stuff. I started doing the growing thing after being born in Croydon, London. I think the first memories I actually have are of looking at ducks at a castle (Dover?).
          </p>
          <p>
            I went to school for a little bit in England, but then I moved to Singapore, where I started school proper, and ended up being identified for Singapore's Gifted Education Programme. There, I met a whole bunch of really interesting people, and when I was in Secondary School, I started to play field hockey, swim, debate, write poety and participate in creative writing events, do science fairs, and learn karate. I also started taking photos for fun, trying to learn how to draw, learned some basic HTML and CSS, and sat around on ICQ and various MUDs.
          </p>
            Before working, I went to high school in Anglo-Chinese Junior College, where I played hockey and was part of the creative writing club. And (like virtually everyone else in my generation in South East Asia) started playing DOTA and reached my maximum height.
          </p>
        </div>
      </div>
    </div>

    <a ng-click="Page.scrollToTop()">Back to top</a>
  </main>

  <footer class="footer">
    <div class="row">
      <div class="small-12 columns">
        <p class="slogan">Do you want to see the old static page site? Take a look <a href="/oldindex.html">here</a></p>
        <p class="links">
          <a href="/">Home</a>
          <a href="/aboutme/">About me</a>
          <a href="/blog/">Blog</a>
          <a href="mailto:weiliang.c3@gmail.com">Contact</a>
        </p>
        <p class="copywrite">A Wei With Words © 2016, <a href="mailto:weiliang.c3@gmail.com">Made by Wei.</a></p>
      </div>
    </div>
  </footer>

</body>

</html>
